@model IEnumerable<RedMood.Models.Moods>

@{
    ViewBag.Title = "RedMood";
}

<h2>Welcome to Redmind!</h2>
<h3>How do you feel today?</h3>
<table class="table">
    <tr>  
        <th><a href="@Url.Action("Increase", "Moods", new { id = 1 })" /><img src="~/content/Images/happysmiley.jpg"/></th>
        <th><a href="@Url.Action("Increase", "Moods", new { id = 2 })" /><img src="~/content/Images/sadsmiley.jpg" /></th>        
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(Moods => item.count)

            </td>
        }
    </tr>
    </table>
