@model IEnumerable<RedMood.Models.Mood>

@{
    ViewBag.Title = "RedMood";
}

<h2>Welcome to Redmind!</h2>
<h3>How do you feel today?</h3>
<table class="table">
    <tr>  
        <th><a href="@Url.Action("Increase", "Mood", new { id = 1 })" /><img src="~/content/Images/happysmiley.jpg"/></th>
        <th><a href="@Url.Action("Increase", "Mood", new { id = 2 })" /><img src="~/content/Images/neutralsmiley.jpg" /></th>
        <th><a href="@Url.Action("Increase", "Mood", new { id = 3 })" /><img src="~/content/Images/sadsmiley.jpg" /></th>        
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(Mood => item.Counter)

            </td>
        }
    </tr>
    </table>
